<p>You cast: <%= session[:code] %></p>

<% def playerGuess
  puts "\nPlease give me the first color."
  @guessCode = [color1, color2, color3, color4]
  compareCodes
end %>

<form action="/compareCodes" method ="post">
  First Color:<br>
  <input type="text" name="color[]">
  <br>
  Second Color:<br>
  <input type="text" name="color[]">
  <br>
  Third Color:<br>
  <input type="text" name="color[]">
  <br>
  Fourth Color:<br>
  <input type="text" name="color[]">
  <br><br>
  <input type="submit">
</form>

<%  @color = params[:color] %>
