<p><strong>Game over, man! Game over!</strong></p>
<p>My code was <%= session[:code] %></p>
<p><a href="https://en.wikipedia.org/wiki/Aliens_(film)" target="_blank">
  <img src ="http://patmellon.com/wp-content/uploads/2017/08/Bill-Paxton.jpg" class="img-responsive img-rounded"></a></p>

<p><a href="/" class="btn btn-primary">Play Again?</a></p>
