<p><strong>You won! You're a winner!</strong></p>
<p>My code was <%= session[:code] %></p>
<p><img src ="http://patmellon.com/wp-content/uploads/2017/08/Rambo.jpg" class="img-responsive img-rounded"></p>

<p><a href="/" class="btn btn-primary">Play Again?</a></p>
